<h1 class='mt-4 mb-8 uppercase opacity-25 text-lg text-center'>
  Exercise: Stale data
</h1>

<div class="max-w-sm">
  <p class="mb-3">
    On the left we have a list of stock symbols. You'll notice that
    if you click on a symbol it takes a few seconds to load, but
    on subsequent renders the data is instantly displayed.
  </p>

  <p class="mb-3">
    There's a problem though! Each subsequent render displays
    a stock price that is out of date. Our product manager has
    asked to make sure we're not displaying old pricing data when
    a user clicks into a stock. Go ahead and fix this for us.
  </p>

  <p>
    The file pods/2/stock-detail/route.js has the stock data
    loading logic in its model hook.
  </p>
</div>

<div class="flex mt-8">
  <div>
    <div class="font-bold text-4 mb-1">
      Stocks
    </div>
    <ul class="list-reset p-0 mr-12">
      <li class="mb-1">
        {{#link-to "2.stock-detail" "AAPL"
          class="text-grey-darkest underline"}}
          AAPL
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "AMZN"
          class="text-grey-darkest underline"}}
          AMZN
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "GOOGL"
          class="text-grey-darkest underline"}}
          GOOGL
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "MSFT"
          class="text-grey-darkest underline"}}
          MSFT
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "BRK.A"
          class="text-grey-darkest underline"}}
          BRK.A
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "FB"
          class="text-grey-darkest underline"}}
          FB
        {{/link-to}}
      </li>
    </ul>
  </div>

  <div>
    {{outlet}}
  </div>
</div>
