{{#if model}}
  <div class="font-bold text-4 mb-1 mt-8">
    Stocks
  </div>

  <div class="flex">
    <ul class="list-reset p-0 mr-12">
      {{#each model as |stock|}}
        <li class="mb-1">
          {{#link-to "4.stock-detail" stock
            class="text-grey-darkest underline"}}
            {{stock.symbol}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>

    <div>
      <p class="max-w-sm">
        Click a stock to see its details.
      </p>
    </div>
  </div>

{{else}}
  <div class="max-w-sm mt-3">
    <p>
      Once the stocks are loaded this message will disappear!
    </p>
  </div>
{{/if}}
