<div class="font-bold text-4 mb-1 mt-8">
  Stocks
</div>

<div class="flex">
  <ul class="list-reset p-0 mr-12">
    {{#each (sort-by "name" model) as |stock|}}
      <li class="mb-3">
        <div class="text-bold text-4">
          {{stock.symbol}}
        </div>

        {{#link-to "5.price" stock.id
          class="text-grey-darkest underline text-6"}}
          Price
        {{~/link-to}}

        |

        {{#link-to "5.reviews" stock.id
          class="text-grey-darkest underline text-6"}}
          Reviews
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  <div>
    <p class="max-w-sm">
      You can now view reviews about each stock.
    </p>
  </div>
</div>
