<h1 class='mt-4 mb-8 uppercase opacity-25 text-lg text-center'>
  Welcome
</h1>


<h1>
  Welcome to EmberConf 2019!
</h1>


<div class="text-2xl mt-12">
  <div>
    1. Open terminal
  </div>

  <div class="mt-6">
    2. Clone this git repository: <span class="font-semibold bg-grey-light py-1 px-2 rounded">git clone git@github.com:embermap/emberconf2019-robust-data-fetching.git</span>
  </div>

  <div class="mt-6">
    3. Move into the directory: <span class="font-semibold bg-grey-light py-1 px-2 rounded">cd emberconf2019-robust-data-fetching</span>
  </div>

  <div class="mt-6">
    4. Run NPM install: <span class="font-semibold bg-grey-light py-1 px-2 rounded">npm install</span> (You might get some warnings, thats ok!)
  </div>

  <div class="mt-6">
    5. Serve the app <span class="font-semibold bg-grey-light py-1 px-2 rounded">npx ember s</span>
  </div>

  <div class="mt-6">
    6. Visit {{#link-to "1" class="text-blue underline"}}http://localhost:4200{{/link-to}}
  </div>

  <div class="mt-6">
    7. If you can see the screen below, you're all set!
  </div>
</div>
