<div class="flex mt-8">
  <div>
    <div class="font-bold text-4 mb-1">
      Stocks
    </div>
    <ul class="list-reset p-0 mr-12">
      <li class="mb-1">
        {{#link-to "2.stock-detail" "AAPL"
          class="text-grey-darkest underline"}}
          AAPL
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "AMZN"
          class="text-grey-darkest underline"}}
          AMZN
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "GOOGL"
          class="text-grey-darkest underline"}}
          GOOGL
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "MSFT"
          class="text-grey-darkest underline"}}
          MSFT
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "BRK.A"
          class="text-grey-darkest underline"}}
          BRK.A
        {{/link-to}}
      </li>
      <li class="mb-1">
        {{#link-to "2.stock-detail" "FB"
          class="text-grey-darkest underline"}}
          FB
        {{/link-to}}
      </li>
    </ul>
  </div>
  <p class="max-w-sm">
    Click on a stock to view its price.
  </p>
</div>
