<div class="h-screen w-screen bg-teal-light flex flex-col items-center justify-center">

  <h1 class="text-3xl mb-4 uppercase font-semibold">
    Robust Data Fetching
  </h1>

  <div class="text-lg mb-8">
    - EmberConf 2019 -
  </div>

  <div class="text-sm">
    See you soon!
  </div>
</div>
